<div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="author">Auteur</label>
        <input
          type="text"
          class="form-control"
          id="author"
          required
          [(ngModel)]="post.author"
          name="author"
        />
      </div>

      <div class="form-group">
        <label for="author">Sujet</label>
        <input
          type="text"
          class="form-control"
          id="subject"
          required
          [(ngModel)]="post.subject"
          name="subject"
        />
      </div>
  
      <div class="form-group">
        <label for="content">Contenu</label>
        <input
          class="form-control"
          id="content"
          required
          [(ngModel)]="post.content"
          name="content"
        />
      </div>

      <div class="form-group">
        <label for="content">Image</label>
        <input
          type="file"
          class="form-control"
          id="picture"
          required
          [(ngModel)]="post.picture"
          name="picture"
          (change)="onFileChanged($event)"
        />
      </div>
  
      <button (click)="saveArticle()" class="btn btn-success">Soumettre</button>
    </div>
  
    <div *ngIf="submitted">
      <h4>Vous avez soumis avec succès!</h4>
      <button class="btn btn-success" (click)="newArticle()">Ajouter</button>
    </div>
  </div>