<div class="submit-form">
    <form #form="ngForm" *ngIf="!submitted">
      <div class="form-group">
        <label for="author">Auteur</label>
        <input
          type="text"
          class="form-control"
          id="author"
          required
          [(ngModel)]="post.author"
          name="author"
          #author="ngModel"
        />
      </div>
      <div  style="color:red" *ngIf="author.errors && (author.dirty || author.touched)">
        <p style="margin-left: 30px;"  *ngIf="author.errors.required">
            * Auteur est obligatoire
        </p>
    </div>

      <div class="form-group">
        <label for="author">Sujet</label>
        <input
          type="text"
          class="form-control"
          id="subject"
          required
          [(ngModel)]="post.subject"
          name="subject"
          #subject="ngModel"
        />
      </div>
      <div   style="color:red" *ngIf="subject.errors && (subject.dirty || subject.touched)">
        <p style="margin-left: 30px;" *ngIf="subject.errors.required">
            * Sujet est obligatoire
        </p>
    </div>
  
      <div class="form-group">
        <label for="content">Contenu</label>
        <input
          class="form-control"
          id="content"
          required
          [(ngModel)]="post.content"
          name="content"
          #content="ngModel"
        />
      </div>

      <div   style="color:red" *ngIf="content.errors && (content.dirty || content.touched)">
        <p style="margin-left: 30px;" *ngIf="content.errors.required">
            * Contenu est obligatoire
        </p>
    </div>

      <div class="form-group">
        <label for="content">Image</label>
        <input
          type="file"
          class="form-control"
          id="picture"
          required
          [(ngModel)]="post.picture"
          name="picture"
          (change)="onFileChanged($event)"
        />
      </div>
  
      <button [disabled]="!form.valid" (click)="saveArticle()" class="btn btn-success">Soumettre</button>
    </form>
  
    <div *ngIf="submitted">
      <h4>Vous avez soumis avec succès!</h4>
      <button class="btn btn-success" (click)="newArticle()">Ajouter</button>
    </div>
  </div>