<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Reponses de formulaire</h4>
                        <p class="category"> {{contacts.length}} Contacts </p>
                        <button style="float: right;" class="m-3 btn btn-sm btn-danger" (click)="openModal('custom-modal-2')">
                            Remove All
                          </button>
                          <input style="margin-left: 40%;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

                    </div>
                    

                   
                    <div class="content table-responsive table-full-width">
                        <table id="myTable" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th> numero </th>
                                    <th> ID </th>
                                    <th> nom & prenom</th>
                                    <th> email </th>
                                    <th> sujet </th>
                                    <th> message </th>
                                    <th> actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of contacts; let i=index;"
                                [class.active]="i == currentIndex" (mouseenter)="setActiveContact(row, i)"
                                >
                                    <td> {{i +1}} </td>
                                    <td>{{row.id}}</td>
                                    <td>{{row.nom_prenom}}</td>
                                    <td>{{row.email}}</td>
                                    <td>{{row.subject}}</td>
                                    <td>{{row.message}}</td>
                                    <td >
                                        <i class="glyphicon glyphicon-eye-open" style="color: rgb(31, 0, 209);cursor: pointer;" routerLink="/detailContact/{{ row.id }}">
                                            
                                        </i>
                                        
                                        <i  class='glyphicon glyphicon-trash' style="color: red;cursor: pointer; float: right;" (click)="openModal('custom-modal-1')">
                                             
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
        
             
            </div>
        </div>
    </div>
</div>



<jw-modal id="custom-modal-1">
    <div style="justify-content: center;" class="modal-header">
        <span (click)="closeModal('custom-modal-1');" class="close">X</span>

        <h3 style="color: white;">Êtes-vous sûr ?</h3>
    </div>
   
   
    <div class="modal-body">
        <h6>Suppression Contact</h6>

    <button style="background-color: white; margin-right: 10px;" class="btn btn-sm ml-5"  (click)="deleteContact('custom-modal-1');">Supprimer </button>
    <button style="background-color: white;" class="btn btn-sm ml-5 "  (click)="closeModal('custom-modal-1');">Fermer</button>
    </div>
</jw-modal>


<jw-modal id="custom-modal-2">
    <div style="justify-content: center;" class="modal-header">
        <span (click)="closeModal('custom-modal-2');" class="close">X</span>

        <h3 style="color: white;">Êtes-vous sûr ?</h3>
    </div>
   
   
    <div class="modal-body">
        <h6>Suppression</h6>

    <button style="background-color: white; margin-right: 10px;" class="btn btn-sm ml-5"  (click)="removeAllContacts('custom-modal-2')">Supprimer </button>
    <button style="background-color: white;" class="btn btn-sm ml-5"  (click)="closeModal('custom-modal-2');">Fermer</button>
    
    
</div>
</jw-modal>