<div *ngIf="currentForm" class="edit-form">
    <h4>Tutorial</h4>
    <form>
      <div class="form-group">
        <label for="nom_prenom">nom_prenom</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentForm.nom_prenom"
          name="nom_prenom"
        />
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          [(ngModel)]="currentForm.email"
          name="email"
        />
      </div>
  
    
    </form>
 
    <button class="badge badge-danger mr-2" (click)="openModal('custom-modal-1')">
      Delete
  </button>


    <p>{{ message }}</p>
  </div>
  
  <div *ngIf="!currentArticle">
    <br />
    <p>Cannot access this Tutorial...</p>
  </div>


  <jw-modal id="custom-modal-1">
    <div style="justify-content: center;" class="modal-header">
        <span (click)="closeModal('custom-modal-1');" class="close">X</span>

        <h1 style="color: white;">Are you sure ?</h1>
    </div>
   
   
    <div class="modal-body">
        <h3>Deleting Contact</h3>

    <button (click)="deleteForm()">Delete </button>
    <button (click)="closeModal('custom-modal-1');">Close</button>
    </div>
</jw-modal>