<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Reponses de formulaire</h4>
                        <p class="category"> {{forms.length}} Reponses </p>
                        <button style="float: right;" class="m-3 btn btn-sm btn-danger" (click)="openModal('custom-modal-2')">
                            Remove All
                          </button>

                    </div>
                    <input style="margin-left: 10%;" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

                    <div class="row" style="text-align: center; ">

                        <i class="fa fa-file-excel-o" (click)="exportAsXLSX()" style="font-size:48px;color:green;cursor: pointer;"></i>
                        <p style="margin-right: 80px;">Exporter Excel </p>                        

                    </div>

                    <div class="content table-responsive table-full-width">
                        <table id="myTable" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th> numero </th>
                                    <th> nom & prenom</th>
                                    <th> code postal </th>
                                    <th>numero Telephone </th>
                                    <th> email </th>
                                    <th> actions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of forms; let i=index;"
                                [class.active]="i == currentIndex" (mouseenter)="setActiveForm(row, i)">
                                    <td> {{i +1}} </td>
                                    <td>{{row.nom_prenom}}</td>
                                    <td>{{row.code_postale}}</td>
                                    <td>{{row.num_tel}}</td>
                                    <td>{{row.email}}</td>
                                    <td >

                                        <i class="glyphicon glyphicon-eye-open" style="color: rgb(31, 0, 209);cursor: pointer;" routerLink="/detailForm/{{ row.id }}">
                                            
                                        </i>
                                        
                                        <i  class='glyphicon glyphicon-trash' style="color: red;cursor: pointer; float: right;" (click)="openModal('custom-modal-1')">
                                             
                                        </i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
            
            </div>
        </div>
    </div>
</div>



<jw-modal id="custom-modal-1">
    <div style="justify-content: center;" class="modal-header">
        <span (click)="closeModal('custom-modal-1');" class="close">X</span>

        <h3 style="color: white;">Êtes-vous sûr ?</h3>
    </div>
   
   
    <div class="modal-body">
        <h6>Suppression</h6>

    <button style="background-color: white; margin-right: 10px;" class="btn btn-sm ml-5"  (click)="deleteForm('custom-modal-1');">Supprimer </button>
    <button style="background-color: white;" class="btn btn-sm ml-5"  (click)="closeModal('custom-modal-1');">Fermer</button>
    
    
</div>
</jw-modal>


<jw-modal id="custom-modal-2">
    <div style="justify-content: center;" class="modal-header">
        <span (click)="closeModal('custom-modal-2');" class="close">X</span>

        <h3 style="color: white;">Êtes-vous sûr ?</h3>
    </div>
   
   
    <div class="modal-body">
        <h6>Suppression</h6>

    <button style="background-color: white; margin-right: 10px;" class="btn btn-sm ml-5"  (click)="removeAllForms('custom-modal-2')">Supprimer </button>
    <button style="background-color: white;" class="btn btn-sm ml-5"  (click)="closeModal('custom-modal-2');">Fermer</button>
    
    
</div>
</jw-modal>

