<footer class="footer" style="bottom: 0;position: absolute;">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a target="_blank" href="http://www.assistantrenovationenergie.fr/#/accueil">
                        Accueil
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.assistantrenovationenergie.fr/#/travaux">
                        Travaux à 1€
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.assistantrenovationenergie.fr/#/aboutus">
                        Notre Société
                    </a>
                </li>
                <li>
                    <a target="_blank" href="http://www.assistantrenovationenergie.fr/#/blog">
                        Blog
                    </a>
                </li>
            
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} <a target="_blank" href="http://www.assistantrenovationenergie.fr">Assistant Rénovation Energie </a>
        </p>
    </div>
</footer>
